<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href = "/style.css"/>
    <title>Api estoque</title>
</head>
<body>
    <div class="links">
        <h1>Estoque de produtos</h1>
        <a href="/cadastro" target="_blanck">Cadastrar produto</a><br>
        <a href="/estoqueUpdate"target="_blanck">Atualizar</a><br>
        <a href="/estoque1"target="_blanck">Listar todo estoque</a><br>
        <a href="/estoqueListItem"target="_blanck">Listar apenas um item</a><br>
        <a href="/estoqueDelete"target="_blanck">Deletar produto</a><br>
    </div>
<script src="/script.js"></script>
</body>
</html>